<!-- your html code here -->
<div>
  <h2>Contact</h2>
  <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident eveniet, 
      libero rem temporibus incidunt possimus in cum, id tempore pariatur, maxime animi itaque ducimus dicta praesentium expedita adipisci. Voluptate, nemo?
  </p> 
</div>
    <div class="card d-flex p-2 border border-success p-2 border-opacity-10 ">
      <form>
        <div class="row g-3 ">
          <div class="mb-3 d-inline-flex align-items-center input-group">
            <label for="exampleInputEmail1" class="form-label pe-5" >Your E-mail</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your E-mail">
          </div>
          <div class="mb-3 d-flex align-items-center input-group">
            <label for="exampleFormControlTextarea1" class="form-label pe-5">Your Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here"></textarea>
          </div>
        </div>
        <div class="text-end">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>     
    </div>
