
<div class="d-flex justify-content-center mb-5 pb-5">
  <div class="container #2 d-inline-flex text-center" ">
      <div class="container d-flex align-items-center justify-content-center">   
        <div class="pe-4">
          <h1>
            <div class="d-inline-flex">
              <p>This Firts Heading &nbsp; </p> 
            <p class="text-secondary"> Will Catch Your Eye</p>
            </div>
          </h1>
            <p class="text-end" style="font-size:larger">
            Donec ullamcorper nulla non metus auctor fringilia. Vestibulum id ligula porta felis <br>
            euismod semper. praesent commodo cursus magna, vel scelerisque nisl <br>
            consecteuter. Fuse dapilus, tellus ac cursus commodo.
            </p>
        </div>
        <div class="image" >
          <img src="../website/assets/img/1.jpg" width="200" class="my-4 rounded-circle" alt="...">
        </div>
      </div>
  </div>
</div>