<!-- your html code here -->
<div class="container #2 d-inline-flex" style="width: 1000px; height: 250px; margin-top: 20px;">

    <div class="container d-flex align-items-center">
        <div class="image" >
            <img src="../website/assets/img/2.jpg" width="200" class="my-4 rounded-circle" alt="...">
        </div>
        <div class="ps-">
            <h1>
                <b> This Second Heading</b> Is Pretty Cool Too.
                </h1>
                <p class="text-right" style="font-size:larger">
                Donec ullamcorper nulla non metus auctor fringilia. Vestibulum id ligula porta felis <br>
                euismod semper. praesent commodo cursus magna, vel scelerisque nisl <br>
                consecteuter. Fuse dapilus, tellus ac cursus commodo.
                </p>
        </div>
    </div>
</div>